.student-dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the container takes up the full height of the viewport */
}

.student-dashboard-content {
    flex-grow: 1; /* This will take up the remaining space, pushing the footer to the bottom */
}

footer {
    text-align: center;
    background-color: #f1f1f1; /* Optional styling for the footer */
    padding: 10px;
}
